---
import Layout from "@/layouts/Layout.astro";
import { ThemeToggle } from "@/components/ThemeToggle";
import { Hero } from "@/components/sections/Hero";
import { Features } from "@/components/sections/Features";
import Footer from "@/components/sections/Footer.astro";
---

<Layout>
  <div class="fixed top-4 right-4 z-50">
    <ThemeToggle client:load />
  </div>
  <main>
    <Hero client:only="react" />
    <Features client:load />
    <Footer />
  </main>
</Layout>
